.page {
	  position: relative;
	  height: 297mm;
	  width: 210mm;
	  padding: 0mm;
	  margin: 10mm auto;
	  /* border: 1px #D3D3D3 solid; */
	  border-radius: 5px;
	  background: white;
	  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
 }
 .subpage {
	  padding: 1cm;
	  border: 5px #ccc solid;
	  height: 297mm;
	  outline: 2cm whitesmoke solid;
 }

.gs-text-header{ background: #157DEC !important; -webkit-print-color-adjust: exact; }

.gs-table-header{ background: #157DEC !important; -webkit-print-color-adjust: exact; }


@media print { /* Media query to format print */
	.page {
		margin: 0cm;
	}
	.subpage {
		outline: none;
	}
	._dash-undo-redo {
		display: none; 
	}
}
